body {
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}

.main-hed {
    display: flex;
}

.con-text {
    width: 50%;
    margin-top: 10px;
    margin-left: 10px;
}

.con-text img {
    width: 00%;
}